.footer-corporate {
    --tw-bg-opacity: 1;
    background-color: rgb(34 34 34/var(--tw-bg-opacity));
    font-family: var(--font-secondary);
    font-weight: 400
}

.footer-corporate .accordion-title {
    padding-bottom: 8px;
    padding-top: 8px
}

@media (min-width: 1024px) {
    .footer-corporate .accordion-title {
        padding-bottom:24px
    }
}

.footer-corporate__content {
    align-items: center;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(1,minmax(0,1fr));
    padding-bottom: 4px;
    padding-top: 32px
}

@media (min-width: 1024px) {
    .footer-corporate__content {
        grid-template-columns:repeat(2,minmax(0,1fr))
    }
}

.footer-corporate-logo {
    height: 100%;
    padding-bottom: 32px;
    padding-top: 4px
}

@media (min-width: 1024px) {
    .footer-corporate-logo {
        border-bottom-width:1px;
        grid-column: span 1/span 1;
        grid-row-start: 1;
        --tw-border-opacity: 1;
        border-bottom-color: rgb(78 77 75/var(--tw-border-opacity));
        padding-top: 16px
    }
}

.footer-corporate-social-links {
    grid-column: span 1/span 1;
    grid-row-start: 5;
    height: 100%;
    margin-top: 32px;
    padding-bottom: 0;
    text-align: center;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

@media (min-width: 1024px) {
    .footer-corporate-social-links {
        border-bottom-width:1px;
        grid-column: span 2/span 2;
        grid-row-start: 1;
        margin-top: 0;
        --tw-border-opacity: 1;
        border-bottom-color: rgb(78 77 75/var(--tw-border-opacity));
        padding-bottom: 32px;
        padding-left: 0;
        padding-top: 16px;
        text-align: left
    }
}

:is(:where([dir=rtl]) .footer-corporate-social-links) {
    padding-left: 0
}

@media (min-width: 1024px) {
    :is(:where([dir=rtl]) .footer-corporate-social-links) {
        padding-right:48px
    }
}

.footer-corporate-links {
    grid-row-start: 3
}

@media (min-width: 1024px) {
    .footer-corporate-links {
        grid-column:span 3/span 3;
        grid-row-start: 2
    }
}

.footer-corporate-links .accordion-trigger {
    border: none
}

.footer-corporate-links .accordion-trigger .accordion-icon {
    --tw-invert: invert(100%);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

@media not all and (min-width: 1024px) {
    .footer-corporate-links .accordion__item {
        border-bottom-width:1px;
        --tw-border-opacity: 1;
        border-bottom-color: rgb(78 77 75/var(--tw-border-opacity))
    }
}

.footer-corporate-social {
    stroke: #fff;
    stroke-width: 0
}

.footer-corporate-bottom {
    grid-row-start: 6
}

@media (min-width: 1024px) {
    .footer-corporate-bottom {
        grid-column:span 5/span 5;
        grid-row-start: 3
    }
}

.footer-corporate-bottom-links {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 300;
    gap: 24px;
    justify-content: space-between;
    line-height: 120%;
    padding-bottom: 16px;
    padding-top: 16px;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

@media (min-width: 1024px) {
    .footer-corporate-bottom-links {
        align-items:flex-start;
        border-top-width: 1px;
        flex-direction: row;
        gap: 0;
        --tw-border-opacity: 1;
        border-top-color: rgb(78 77 75/var(--tw-border-opacity))
    }
}

.footer-corporate-bottom-link-items {
    display: flex;
    gap: 24px;
    padding-bottom: 4px;
    padding-top: 4px;
    text-align: center
}

@media (min-width: 1024px) {
    .footer-corporate-bottom-link-items {
        gap:8px
    }
}

.footer-corporate-social-links a {
    position: relative
}

.footer-corporate-social-links a:after {
    bottom: -8px;
    content: "";
    left: -8px;
    position: absolute;
    right: -8px;
    top: -8px
}

.newsletter-form #newsletter::-moz-placeholder {
    color: #fff
}

.newsletter-form #newsletter::placeholder {
    color: #fff
}

.footer {
    --tw-bg-opacity: 1;
    background-color: rgb(34 34 34/var(--tw-bg-opacity));
    font-family: var(--font-secondary);
    font-weight: 400
}

.footer__content {
    align-items: center;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(1,minmax(0,1fr));
    padding-bottom: 4px;
    padding-top: 32px
}

@media (min-width: 1024px) {
    .footer__content {
        grid-template-columns:repeat(4,minmax(0,1fr))
    }
}

.footer-logo {
    height: 100%;
    padding-bottom: 32px;
    padding-top: 4px
}

@media (min-width: 1024px) {
    .footer-logo {
        border-bottom-width:1px;
        grid-column: span 1/span 1;
        grid-row-start: 1;
        --tw-border-opacity: 1;
        border-bottom-color: rgb(78 77 75/var(--tw-border-opacity));
        padding-top: 16px
    }
}

.checkout-footer-logo {
    height: 100%;
    padding-bottom: 40px;
    padding-top: 4px
}

@media (min-width: 1024px) {
    .checkout-footer-logo {
        grid-column:span 5/span 5;
        padding-top: 8px
    }
}

.footer-social-links {
    grid-column: span 1/span 1;
    grid-row-start: 5;
    height: 100%;
    margin-top: 32px;
    padding-bottom: 0;
    text-align: center;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

@media (min-width: 1024px) {
    .footer-social-links {
        border-bottom-width:1px;
        grid-column: span 1/span 1;
        grid-row-start: 1;
        margin-top: 0;
        --tw-border-opacity: 1;
        border-bottom-color: rgb(78 77 75/var(--tw-border-opacity));
        padding-bottom: 32px;
        padding-left: 0;
        padding-top: 16px;
        text-align: left
    }
}

:is(:where([dir=rtl]) .footer-social-links) {
    padding-left: 0
}

@media (min-width: 1024px) {
    :is(:where([dir=rtl]) .footer-social-links) {
        padding-right:48px
    }
}

.footer-newsletter {
    grid-column: span 3/span 3;
    grid-row-start: 2;
    padding-bottom: 32px;
    padding-top: 8px;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

@media (min-width: 1024px) {
    .footer-newsletter {
        border-bottom-width:1px;
        grid-row-start: 1;
        --tw-border-opacity: 1;
        border-bottom-color: rgb(78 77 75/var(--tw-border-opacity))
    }
}

.newsletter-form>div {
    border-radius: 9999px;
    display: flex;
    height: 40px;
    justify-content: space-between;
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0/var(--tw-bg-opacity));
    padding: 4px 4px 4px 20px;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
    --tw-shadow: 0px 1px 1px 0px #4e4d4b3d;
    --tw-shadow-colored: 0px 1px 1px 0px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)
}

:is(:where([dir=rtl]) .newsletter-form>div) {
    padding-left: 4px;
    padding-right: 20px
}

.newsletter-form>div {
    box-shadow: inset 1px 1.5px 4px 0 rgba(0,0,0,.1),inset 1px 1.5px 4px 0 rgba(0,0,0,.08),inset 0 -.5px 1px 0 hsla(0,0%,100%,.25),inset 0 -.5px 1px 0 hsla(0,0%,100%,.3)
}

.newsletter-form input {
    border-width: 0;
    width: 100%
}

.newsletter-form input::-moz-placeholder {
    --tw-text-opacity: 1;
    color: rgb(34 34 34/var(--tw-text-opacity))
}

.newsletter-form input::placeholder {
    --tw-text-opacity: 1;
    color: rgb(34 34 34/var(--tw-text-opacity))
}

.footer-newsletter .btn {
    line-height: 1
}

.footer-links {
    grid-row-start: 3
}

@media (min-width: 1024px) {
    .footer-links {
        grid-column:span 3/span 3;
        grid-row-start: 2
    }
}

.footer-links .accordion-trigger {
    --tw-border-opacity: 1;
    border-bottom-color: rgb(255 255 255/var(--tw-border-opacity));
    border-style: revert
}

.footer-links .accordion-trigger[aria-expanded=true] {
    border-style: none
}

.footer-social {
    stroke: #fff;
    stroke-width: 0
}

.footer-device-store {
    grid-row-start: 4;
    margin-top: 12px
}

@media (min-width: 1024px) {
    .footer-device-store {
        grid-column:span 2/span 2;
        grid-column-start: 4;
        grid-row-start: 2;
        height: 100%;
        justify-self: end;
        margin-top: 0;
        padding-top: 32px
    }
}

.footer-bottom {
    grid-row-start: 6
}

@media (min-width: 1024px) {
    .footer-bottom {
        grid-column:span 5/span 5;
        grid-row-start: 3
    }
}

.footer-bottom-links {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 300;
    gap: 24px;
    justify-content: space-between;
    line-height: 120%;
    padding-bottom: 16px;
    padding-top: 16px;
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

@media (min-width: 1024px) {
    .footer-bottom-links {
        align-items:flex-start;
        border-top-width: 1px;
        flex-direction: row;
        gap: 0;
        --tw-border-opacity: 1;
        border-top-color: rgb(78 77 75/var(--tw-border-opacity))
    }
}

.footer-bottom-link-items {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 4px;
    padding-top: 4px;
    text-align: center
}

@media (min-width: 1024px) {
    .footer-bottom-link-items {
        flex-direction:row;
        gap: 8px
    }
}

/*# sourceMappingURL=23b9016a566cbc3b.css.map*/
